# --- Code Editors --- #

*.vscode

# --- Linters --- #

*.pytest_cache
*.mypy_cache

# --- Python --- #

__pycache__

# --- Schemathesis --- #

*.hypothesis
log*

# --- Scripts --- #

install_and_run.sh

# --- Setuptools --- #

build
dist
ibm_service_validator.egg-info
*.eggs

# --- Service Validator Config --- #

ibm-service-validator-config.*

# --- Testing --- #

*.coverage.*
coverage.xml
.coverage
*.tox
