# --- Code Editors --- #

*.vscode

# --- Schemathesis --- #

*.hypothesis

# --- Python --- #

__pycache__

# --- Linters --- #

*.pytest_cache
*.mypy_cache

# --- Testing --- #

*.coverage.*
coverage.xml
.coverage
*.tox
