# --- Code Editors --- #

*.vscode

# --- Linters --- #

*.pytest_cache
*.mypy_cache

# --- Python --- #

__pycache__

# --- Schemathesis --- #

*.hypothesis

# --- Setuptools --- #

build
dist
schemathesis_ibm.egg-info

# --- Testing --- #

*.coverage.*
coverage.xml
.coverage
*.tox
